<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Logistic</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Scania Blockchain System</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="logisticDash.html">
                                Dashboard
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h2>Logistic Data </h2>
                </div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="idInput" class="control-label col-sm-2">
                            <h5>ID</h5>
                        </label>
                        <div class="col-sm-10">
                            <input input type="text" class="form-control" id="idInput" name="idInput" placeholder="Enter input ID" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rack" class="control-label col-sm-2">
                            <h5>Rack</h5>
                        </label>
                        <div class="col-sm-10">
                            <input input type="text" class="form-control" id="rack" name="rack" placeholder="Enter Location on Rack" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label col-sm-2">
                            <h5>Location Name</h5>
                        </label>
                        <div class="col-sm-10">
                            <input input type="text" class="form-control" id="name" name="name" placeholder="Enter Location Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" onClick="enterData()">Submit</button>
                    </div>

                </form>
            </main>
        </div>
    </div>
</body>
<script>
web3 = new Web3(web3.currentProvider);
web3.eth.defaultAccount = web3.eth.accounts[0];
var AssetTrackerRopstenAddress = '0xbdb608d537cee611910d39264517464902562567';
var AssetTrackerABI = web3.eth.contract([
	{
		"constant": false,
		"inputs": [
			{
				"name": "_id",
				"type": "uint256"
			},
			{
				"name": "_logLocationIdOnRack",
				"type": "uint256"
			},
			{
				"name": "_logLocationName",
				"type": "string"
			}
		],
		"name": "addDetailLogistic",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "_id",
				"type": "uint256"
			},
			{
				"name": "_machineNumber",
				"type": "uint256"
			},
			{
				"name": "_macQualityOfProduct",
				"type": "uint256"
			},
			{
				"name": "_macQuantityOfProduct",
				"type": "uint256"
			}
		],
		"name": "addDetailProductionStakeHolder",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "_id",
				"type": "uint256"
			},
			{
				"name": "_rawMaterialId",
				"type": "uint256"
			},
			{
				"name": "rawMaterialQuality",
				"type": "uint256"
			},
			{
				"name": "rawMaterialQuantity",
				"type": "uint256"
			},
			{
				"name": "origin",
				"type": "string"
			}
		],
		"name": "addDetailRawMaterialStakeHolder",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "_id",
				"type": "uint256"
			},
			{
				"name": "_macLocationIdOnRack",
				"type": "uint256"
			},
			{
				"name": "_macLocationName",
				"type": "string"
			}
		],
		"name": "addDetailShipmentStakeHolder",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "_name",
				"type": "string"
			},
			{
				"name": "_desc",
				"type": "string"
			},
			{
				"name": "_productionQualityLowerLimit",
				"type": "uint256"
			},
			{
				"name": "_rawMaterialQualityLowerLimit",
				"type": "uint256"
			}
		],
		"name": "placeOrder",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "_assemblyAddress",
				"type": "address"
			}
		],
		"name": "setAssemblyAddress",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "newContractCreator",
				"type": "address"
			}
		],
		"name": "setContractCreator",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "_logisticAddress",
				"type": "address"
			}
		],
		"name": "setLogisticAddress",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "newMachiningAddress",
				"type": "address"
			}
		],
		"name": "setMachiningAddress",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"name": "_machiningAddress",
				"type": "address"
			},
			{
				"name": "_logisticAddress",
				"type": "address"
			},
			{
				"name": "_assemblyAddress",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "constructor"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"name": "assetIdToOwner",
		"outputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"name": "assetIdToStatus",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "_id",
				"type": "uint256"
			}
		],
		"name": "getAssetOverview",
		"outputs": [
			{
				"name": "",
				"type": "string"
			},
			{
				"name": "",
				"type": "string"
			},
			{
				"name": "",
				"type": "uint256"
			},
			{
				"name": "",
				"type": "uint256"
			},
			{
				"name": "",
				"type": "address"
			},
			{
				"name": "",
				"type": "uint256"
			},
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "_id",
				"type": "uint256"
			}
		],
		"name": "getAssetProductionInformation",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			},
			{
				"name": "",
				"type": "uint256"
			},
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "_id",
				"type": "uint256"
			}
		],
		"name": "getAssetRawMaterialInformation",
		"outputs": [
			{
				"name": "",
				"type": "string"
			},
			{
				"name": "",
				"type": "uint256"
			},
			{
				"name": "",
				"type": "uint256"
			},
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "_id",
				"type": "uint256"
			}
		],
		"name": "getAssetShipmentInformation",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			},
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "_id",
				"type": "uint256"
			}
		],
		"name": "getLogisticInformation",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			},
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "last",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"name": "ownershipCount",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "stakeHolder",
				"type": "uint256"
			}
		],
		"name": "tokensOfStakeholder",
		"outputs": [
			{
				"name": "",
				"type": "uint256[]"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	}
]);
var ContractInstance = AssetTrackerABI.at(AssetTrackerRopstenAddress);
function enterData(){
    var id = document.getElementById('idInput').value;
    var rack= document.getElementById('rack').value;
    var name=document.getElementById('name').value;
    ContractInstance.addDetailLogistic(id,rack,name,function(err,res){
        if(!err){
            console.log(res);
        }
        else{
            console.log(err);
        }
    });
}
</script>
</html>